<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block estilos %}
    {% endblock estilos %}
    <title>BancoChile</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
        </div>
        <nav>
            <img src="{% static 'img/logoBch.png' %}" id="logo" alt="logoBch">
        </nav>
        <div class="container-user">
            <div class="paste-button">
                {% if user.is_authenticated %}
                    <img src="{{ user.userprofile.foto.url }}" alt="Foto de perfil" class="user-photo" >
                    <div id="user-status" class="circle"></div> <!-- Círculo de estado -->
                {% else %}
                    <button class="button fa-solid fa-user"></button>
                {% endif %}
                <div class="dropdown-content">
                    {% if user.is_authenticated %}
                        <a id="bottom" href="{% url 'index' %}">Ver Perfil: {{ user.first_name }} {{ user.last_name }}</a>
                        <a id="bottom" href="{% url 'login' %}">Cerrar sesión</a>
                    {% else %}
                        <a id="bottom" href="{% url 'login' %}">Inicia sesión</a>
                        <a id="bottom" href="{% url 'registro' %}">Regístrate</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <input type="checkbox" id="btn-menu" />
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="{% url 'index' %}">Evaluacion Ejecutivos</a>
                <a href="{% url 'Listado' %}">Listado Ejecutivos</a>
                <a href="{% url 'Reporte' %}">Reporte Sucursal</a>
                <a href="#">Revision At Sucursal</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
    </div>
    <div class="capa"></div>
    <div class="tarjeta">
        <h3>Calificación / Estado de Carpeta</h3>
        {% if success %}
            <div class="alert">{{ success }}</div>
        {% endif %}
        <div class="resultado">Excelente</div>
    </div>
    <div id="container">
        <main>
            <div class="resultados">
                <form method="post" id="sucursalForm" class="form2" >
                    {% csrf_token %}
                    <div class="input">
                        <label for="{{ form.cui.id_for_label }}">Código Oficina:</label>
                        {{ form.cui }}
                    </div>
                    <div class="input">
                        <label for="{{ form.rut.id_for_label }}">RUT:</label>
                        {{ form.rut }}
                    </div>
                    <div class="botones">
                        <button type="submit" class="button">Consultar</button>
                        <button type="button" class="button" id="guardarBtn">Guardar</button>
                        <button type="reset" class="button" id="limpiarBtn">Limpiar</button>
                    </div>
                </form>
                <div id="resul">
                    {% include 'web/resultados.html' %}
                </div>
            </div>
        </main>
        {% block contenido %}
        {% endblock contenido %}
        <div class="rightcolumn">
            <h3>Pilares</h3>
            <select id="pilar-select" onchange="navegarPilar()">
                <option>Seleccione una opción</option>
                <option value="{% url 'index' %}">Formalidad</option>
                <option value="{% url 'gestion' %}">Gestión Otorgamiento</option>
                <option value="{% url 'depuracion' %}">Depuración de Antecedentes</option>
                <option value="{% url 'ingresos' %}">Ingreso de Datos</option>
            </select>
        </div>
    </div>
    {% block js %}
        <script src="{% static 'js/validacion.js' %}"></script>
        <script src="{% static 'js/acciones.js' %}"></script>
        <script src="{% static 'js/navPilares.js' %}"></script>
    {% endblock js %}
</body>
</html>