{% if filtros %}
    <h2>Resultados:</h2>
    <ul>
        {% for filtro in filtros %}
        <li>
            Rut: {{ filtro.rut }}<br>
            Ejecutivo: {{ filtro.nombre_creador }}<br>
            Login Creador: {{ filtro.login_creador }}<br>
            Oficina Ejecutivo: {{ filtro.oficina_ejecutivo }}<br>
            Sucursal: {{ filtro.nombre_suc }}<br>
            Producto Evaluado: {{ filtro.prod_eval }}<br>
            Monto Oferta: ${{ filtro.monto_oferta }}<br>
            Número de Oportunidad: {{ filtro.n_oportunidad }}<br>
        </li>
        {% endfor %}
    </ul>
{% endif %}