/* Menú lateral */
#btn-menu {
  display: none;
}

.container-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  width: 100%;
  max-width: 300px;
  background-color: #132669;
  height: 100vh;
  position: relative;
  transition: all 300ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #fff;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cont-menu nav a:hover {
  border-left: 5px solid #97A9B8;
  background: #494D5A;
  text-transform: uppercase;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/* Botones Principales */
.tarjeta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 1%;
}

.tarjeta .resultado {
  font-size: 20px;
  padding: 15px;
  background-color: #132669;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
.tarjeta .alert {
  padding: 15px;
  font-size: 18px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: whitesmoke; /* Cambia el color del texto */
  background-color: #5c5959; /* Color de fondo para una alerta */
  border-color: rgb(40, 116, 238); /* Color del borde */
}
/* Contenedor Principal */
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Asegura que los elementos se distribuyan con espacio entre ellos */
  gap: 10px;
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
  margin: 10px;
}

/* Sección Central */
.central-section {
  margin-top: 10px;
  background: white;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: auto;
  width: 50%; /* Asegura que la sección ocupe el ancho completo */
  max-width: 43em;
}

.central-section h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #132669;
  text-align: center;
}

.central-section label {
  margin-top: 10px;
}

.inputs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
}

.inputs select,
.inputs input[type="text"] {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: 1px solid #645353d3;
  border-radius: 10px;
  cursor: pointer;
}

.top-buttons {
  display: flex;
  justify-content: space-around; /* Distribuye los botones con espacio entre ellos */
  align-items: center;
  width: 100%;
  max-width: 42em;
  background-color: #f9f9f9;
  border-radius: 30px;
  margin-top: 10px;
}

.top-buttons button {
  padding: 10px 20px;
  background-color: #132669;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

/* Columna Derecha */
#container .rightcolumn {
  flex-grow: 1;
  flex-basis: 0;
  background: white;
  padding: 20px;
  width: 10%; /* Asegura que la columna ocupe el ancho completo */
  height: auto;
  border-radius: 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.rightcolumn h3 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #132669;
}

#pilar-select,
option {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}