/*@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");*/

body {
  /*background-image: url("https://cdn.pixabay.com/photo/2023/05/28/09/21/south-tyrol-8023213_1280.jpg");*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.capa {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}

/* Estilos para el encabezado */
.container .btn-menu,
.logo {
  float: left;
  margin-top: 5px;
  line-height: 1px;
}

.container .btn-menu label {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  margin-left: 10px;
}
.user-photo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}
.container-user {
  display: block;
  align-items: center;
  color: white;
  margin-left: 63rem;
}

.container-user .fa-user {
  font-size: 4rem;
  color: white;
  padding-right: 2.5rem;
  border-right: 1px solid rgb(157, 154, 172);
  text-decoration: none;
}

.paste-button .button {
  background-color: #20918b;/* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño de la fuente del botón */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-radius: 5px; /* Bordes redondeados */
}

.paste-button .button:hover {
  background-color: #4dc0ba; /* Color de fondo al pasar el cursor */
}

.dropdown-content {
  display: none; /* Ocultar el contenido del menú desplegable por defecto */
  position: absolute; /* Posición absoluta para el menú desplegable */
  background-color: #f9f9f9; /* Color de fondo del menú desplegable */
  min-width: 160px; /* Ancho mínimo del menú desplegable */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra del menú desplegable */
  z-index: 1; /* Asegurarse de que el menú desplegable esté por encima de otros elementos */
  border-radius: 5px; /* Bordes redondeados */
}

.dropdown-content a {
  color: black; /* Color del texto de los enlaces */
  padding: 12px 16px; /* Espaciado interno de los enlaces */
  text-decoration: none; /* Sin subrayado */
  display: block; /* Mostrar los enlaces como bloques */
  border-bottom: 1px solid #ddd; /* Línea divisoria entre enlaces */
}

.dropdown-content a:hover {
  background-color: #f1f1f1; /* Color de fondo al pasar el cursor sobre los enlaces */
}

.paste-button:hover .dropdown-content {
  display: block; /* Mostrar el contenido del menú desplegable al pasar el cursor sobre el botón */
}

/* Menú lateral */
#btn-menu {
  display: none;
}

.container-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  width: 100%;
  max-width: 300px;
  background: #132669;
  height: 100vh;
  position: relative;
  transition: all 300ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #fff;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cont-menu nav a:hover {
  border-left: 5px solid #97A9B8;
  background: #494D5A;
  text-transform: uppercase;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/* Botones Principales */
.tarjeta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 1rem;
}

.tarjeta .resultado {
  font-size: 20px;
  padding: 15px;
  background-color: #132669;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

/* Contenedor Principal */
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

/* Sección Central */
.central-section,
.right-column,
.left-column {
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .central-section,
  .right-column {
    width: 45%;
  }
  .left-column {
    width: 18%;
  }
}

.central-section {
  margin-top: 10px;
  background: white;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 6px 8px rgb(0, 0, 0);
  text-align: left;
  height: auto;
  width: 100%;
  max-width: 43em;
}

@media (min-width: 768px) {
  .central-section {
    width: 60%;
  }
  .top-buttons {
    width: 42em;
  }
}

.central-section h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #132669;
  text-align: center;
}

.central-section label {
  margin-top: 10px;
}

.inputs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.inputs select,
.inputs input[type="text"] {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: 1px solid #645353d3;
  border-radius: 10px;
  cursor: pointer;
}

.top-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 42em;
  background-color: #f9f9f9;
  box-shadow: 2 1px 2px rgba(0, 0, 0, 0.274);
  border-radius: 30px;
  margin-top: 10px;
}

.top-buttons button {
  padding: 10px 20px;
  background-color: #132669;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

/* Columna Derecha */
.right-column {
  flex-grow: 1;
  flex-basis: 0;
  background: white;
  padding: 20px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 6px 8px rgb(0, 0, 0);
  margin-top: 10px;
}

.right-column h3 {
  margin-bottom: 10px;
  font-size: 28px;
  color: #132669;
}

#pilar-select,
option {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

/* Columna Izquierda */
.left-column {
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  background: white;
  padding: 10px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 6px 8px rgb(0, 0, 0);
  margin-top: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.left-column label {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.left-column .inputs select,
.left-column .inputs input[type="text"] {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: 1px solid #645353d3;
  border-radius: 10px;
  cursor: pointer;
}


@media (min-width: 768px) {
  .central-section,
  .right-column {
    width: 45%; /
  }
  .left-column {
    width: 18%; 
  }
}