/* Centrar título de Resultados */
.center-tittle {
    text-align: center;
    font-weight: bold;
    color: rgb(6, 22, 100);
}

/* Sección del Filtro */
.filter-section {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    transition: color 0.9s ease; /* Añade transición */
    color: rgb(6, 22, 100);
    width: 80%; /* Ajusta el ancho según sea necesario */
    background-color: #ffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    margin: 10px auto; /* Centra la sección horizontalmente */
}

.filter {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter label {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.filter input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.filter button {
    padding: 8px 15px;
    background-color: rgb(6, 22, 100);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Sección Tabla */
.table-section {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.726);
    margin-top: 10px;
    width: 80%; /* Ajusta el ancho según sea necesario */
    margin: 10px auto; /* Centra la sección horizontalmente */
}

.executives-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-radius: 20px;
}

.executives-table th,
.executives-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.executives-table th {
    background-color: rgb(6, 22, 100);
    color: white;
    font-weight: bold;
}

.executives-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.executives-table tbody tr:hover {
    background-color: #f1f1f1;
}

.executives-table td strong {
    font-weight: bold;
    color: #1f2a44;
}

/* Sección del Gráfico */
.chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%; /* Ajusta el ancho según sea necesario */
    height: auto;
    background-color: #ffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    margin: 20px auto; /* Centra la sección horizontalmente */
    margin-bottom: 20px;
}

.chart-section h2 {
    font-size: 22px;
    font-weight: bold;
    color: rgb(6, 22, 100);
}

canvas {
    display: block !important;
    width: auto !important; /* Ajusta el tamaño del canvas */
    height: 300px !important; /* Ajusta el tamaño del canvas */
    padding: 20px;
}

#mypieChart {
    margin: 0 auto;
}

/* Sección de Observaciones */
.observations-section {
    margin-top: 10px;
    padding: 20px;
    width: 80%; /* Ajusta el ancho según sea necesario */
    background-color: #ffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    margin: 10px auto; /* Centra la sección horizontalmente */
}

.observations-section h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #1f2a44;
    text-align: center;
}

.observations-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 11px;
    color: #333;
}

.observations-table th {
    background-color: #1f2a44;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
}

.observations-table td {
    padding: 6px; /* Reduce el espaciado entre celdas */
    border: 1px solid #ddd;
    text-align: left;
}

.observations-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.observations-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Espaciado adicional para observaciones */
.observations-table td:nth-child(4) {
    white-space: pre-wrap; /* Permite texto en varias líneas */
    line-height: 1.3; /* Mejor separación entre líneas */
    font-size: 10px;
}