/* Estilo formulario */ 
#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.form-container {
    width: 500px;
    padding: 40px;
    border-radius: 50px;
    background-color: rgba(9, 2, 49);
    color: rgb(246, 243, 243);
    box-shadow: 0 5px 8px rgb(3, 3, 14);
    margin: 1em;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: -10px;
}

.title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    line-height: 2rem;
    font-weight: 400;
}
  
.input-group {
    margin: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
  
.input-group label {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 6px;
}
  
.input-group input {
    width: 400px;
    border-radius: 10px;
    border: 1px solid rgb(40, 116, 238);
    background-color: rgba(17, 24, 39, 1);
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-top: 3px;
    margin-bottom: 10px;

}
  
.button{
  padding: 10px 40px;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.button:hover{
  background-color: darkblue;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*Estilo interruptor*/ 
.switch {
    /* switch */
    --switch-width: 46px;
    --switch-height: 24px;
    --switch-bg: rgb(131, 131, 131);
    --switch-checked-bg: rgb(0, 218, 80);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    /* circulo */
    --circle-diameter: 18px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    /* icono */
    --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 6px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    --icon-position: absolute;
    
    /* efectos linea */
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all .2s ease-in-out;
  }
  
  .switch{
    position: relative;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .switch input {
    display: none;
  }
  
  .switch svg {
    -webkit-transition: var(--icon-transition);
    -o-transition: var(--icon-transition);
    transition: var(--icon-transition);
    position: fixed;
    height: auto;
  }
  
  .switch .checkmark {
    width: var(--icon-checkmark-size);
    color: var(--icon-checkmark-color);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .switch .cross {
    width: var(--icon-cross-size);
    color: var(--icon-cross-color);
  }
  
  .slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
  }
  
  .circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
  }
  
  /* acciones */
  
  .switch input:checked+.slider {
    background: var(--switch-checked-bg);
  }
  
  .switch input:checked+.slider .checkmark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .switch input:checked+.slider .cross {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .switch input:checked+.slider::before {
    left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
  }
  
  .switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter) - var(--switch-offset));
    -webkit-box-shadow: var(--circle-checked-shadow);
    box-shadow: var(--circle-checked-shadow);
  }

.signup {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  left: 350px;
  text-align: justify;
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.signup .button {
  padding: 10px 20px;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*Estilo contenedor datos usuario*/
.tarjeta{
  position: relative;
  margin-top: 20px;
  width: 450px;
  height: 400px;
  border-radius: 30px;
  background-color: rgba(9, 2, 49);
  transition: 2s;
  box-shadow: 10px 10px 20px rgba(20, 17, 17, 0.911)
 }
#log_user{
  position: absolute;
  top: 50px;
  left: 160px;
  height: 150px;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(20, 17, 17, 0.911)
}

.tarjeta p {
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  text-align: left;
  position: absolute;
  top: 13em;
  left: 10px;
}
/*------------------------------------------*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: whitesmoke; /* Cambia el color del texto */
  background-color: #5c5959; /* Color de fondo para una alerta */
  border-color: rgb(40, 116, 238); /* Color del borde */
}