/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra las secciones horizontalmente */
    width: 100%;
    margin: auto;
}

/* Secciones */
.datos-sucursal, .resultados, .calificaciones, .evaluacion {
    width: 80%;
    background-color: #ffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    margin: 10px auto; /* Centra las secciones horizontalmente */
    padding: 20px; /* Añade un margen interno */
    text-align: left; /* Alinea los párrafos a la izquierda */
    transition: all 0.3s ease; /* Añade transición */
}

/* Títulos centrados */
.datos-sucursal h2, .resultados h2, .calificaciones h2, .evaluacion h2 {
    text-align: center;
    font-size: 28px;
    transition: color 0.9s ease; /* Añade transición */
    color: rgb(6, 22, 100);
}

/* Párrafos con margen */
.datos-sucursal p, .resultados p, .calificaciones p, .evaluacion p {
    margin-left: 20px; /* Ajusta el margen según sea necesario */
    margin-right: 20px; /* Ajusta el margen según sea necesario */
    transition: margin 0.9s ease; /* Añade transición */
}

/* Botones de calificación */
.calificaciones {
    text-align: center;
    margin-top: 20px;
}

.etiqueta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.etiqueta-texto {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 10px; /* Espacio entre elementos */
    padding: 10px; /* Espacio interno */
    border: 1px solid #ddd; /* Borde */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo claro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
 
}
.etiqueta-texto:hover {
    background-color: #f1f1f1; /* Fondo más oscuro al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
    transform: scale(1.03); /* Añade un pequeño zoom al pasar el ratón */
  }
  
  .etiqueta-texto li p {
    margin: 5px 0; /* Espacio entre párrafos */
  }

/* Estilos de botones */
button {
    background-color: rgb(6, 22, 100);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Añade transición */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Añade un pequeño zoom al pasar el ratón */
}

.print-section {
    margin-top: 20px;
    text-align: center;
}

.print-section button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 30px;
}

.print-section button:hover {
    background-color: #45a049;
}

/* Adaptabilidad a diferentes pantallas */
@media (max-width: 768px) {
    .contenedor {
        padding: 15px;
    }

    section {
        padding: 10px;
    }

    .evaluacion h2 {
        padding: 10px;
        font-size: 1.25rem;
    }

    .etiqueta-texto, .etiqueta-valor {
        font-size: 0.875rem;
    }
}