body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.user-photo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
  }
  .container-user {
    display: block;
    align-items: center;
    color: white;
    margin-left: 50rem;
  }
  
  .container-user .fa-user {
    font-size: 4rem;
    color: white;
    padding-right: 2.5rem;
    border-right: 1px solid rgb(157, 154, 172);
    text-decoration: none;
  }
  
  .paste-button .button {
    color: white; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .dropdown-content {
    display: none; /* Ocultar el contenido del menú desplegable por defecto */
    position: absolute; /* Posición absoluta para el menú desplegable */
    background-color: #f9f9f9; /* Color de fondo del menú desplegable */
    min-width: 160px; /* Ancho mínimo del menú desplegable */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra del menú desplegable */
    z-index: 1; /* Asegurarse de que el menú desplegable esté por encima de otros elementos */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .dropdown-content a {
    color: black; /* Color del texto de los enlaces */
    padding: 12px 16px; /* Espaciado interno de los enlaces */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Mostrar los enlaces como bloques */
    border-bottom: 1px solid #ddd; /* Línea divisoria entre enlaces */
  }
  
  .dropdown-content a:hover {
    background-color: #afababe7; /* Color de fondo al pasar el cursor sobre los enlaces */
  }
  
  .paste-button:hover .dropdown-content {
    display: block; /* Mostrar el contenido del menú desplegable al pasar el cursor sobre el botón */
  }
  

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}