@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");

body {
  background: url(../img/img_fondo.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para el encabezado */
.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(6, 22, 100);
  box-shadow: 0 3px 5px rgb(8, 8, 17);
}
#logo {
  position: static;
  height: 70px;
  margin-left: 20px;
  margin-top: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  #logo {
    height: 50px;
  }

  .container {
    padding: 1.25rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }

  .header {
    padding: 0.3125rem;
  }

  #logo {
    height: 40px;
  }

  .container {
    padding: 0.625rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}